#author-info {
    display: flex;
    align-items: center;
  }
  
  #author-info img {
    margin-right: 10px;
  }
  
  h1 {
    font-family: 'Pacifico', cursive;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
  }

  #company-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

